@model LabRab6_MDiSUBD_Timoshevich.Entities.Review

<h2>Add Review</h2>
<form asp-action="AddReview" method="post">
    <div>
        <label>Rating:</label>
        <input type="number" name="rating" min="1" max="5" required />
    </div>
    <div>
        <label>Text:</label>
        <textarea name="text"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
