@model List<LabRab6_MDiSUBD_Timoshevich.Entities.Review>

<h2>Reviews</h2>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Client</th>
        <th>Rating</th>
        <th>Text</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var review in Model)
    {
        <tr>
            <td>@review.ClientId</td>
            <td>@review.Rating</td>
            <td>@review.Text</td>
            <td>@review.Date.ToString("g")</td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="AddReview" asp-controller="Review" class="btn btn-primary">Add a Review</a>